html {
	position: relative;
  height: 100%;
}

body {
  background: #fff;
  color: $text-black;
  line-height: 1.34;
  padding: 0;
  height: 100%;
	background-color: $light-grey;
  overflow-y: scroll;
  -webkit-font-smoothing: subpixel-antialiased;
}

#root {
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, '.SFNSTet-Regular', sans-serif;
  height: 100%;
  width: 100%;
}

.main-content {
  display: flex;
  width: 1012px;
	height: 100vh;
  margin-top: 42px;
}

body, button, input, label, select, td, textarea {
	width: 100%;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

button {
	color: white;
	border-radius: 3px;
	transition: background-color 0.3s;
	text-align: center;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/*
	Font Elements
*/

h1 {
	font-size: 36px;
	font-weight: bold;
  font-family: "Freight Sans Bold", inherit;
}

h2 {
	margin-bottom: 10px;
  font-size: 19px;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
}

.thumbnail img {
	object-fit: cover;
}

i:hover {
  text-decoration: none;
}
/*
	Inputs
*/

input {
	font-family: inherit;
	padding: 0 10px;
	border: 1px solid gray;
  background-color: white;
  box-sizing: border-box;
}

input:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

input[type="search"] {
	padding: 5px;
}

textarea {
	font-size: 14px;
}


label {
  cursor: pointer;
}

.errors {
	color: red;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $placeholder-grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $placeholder-grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $placeholder-grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $placeholder-grey;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    $placeholder-grey;
}
