.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    .right-col {
      width: 250px;
      margin-right: 2em;
    }

    .left-col {
      margin-left: 2em;
    }
  }

  @media (max-width: 880px) {
    .left-col {
      width: 120px;
    }

    .right-col {
      width: 200px;
    }
  }

  @media (max-width: 750px) {
    .right-col {
      display: none;
    }

    .feed {
      margin-right: 2em;
    }
  }

  @media (max-width: 580px) {
    .home-link {
      display: none;
    }
  }

  @media (max-width: 500px) {
    .left-col {
      display: none;
    }

    .feed {
      margin-left: 2em;
    }
  }

  @media (max-width: 360px) {
    .feed {
      margin: 0 0.5em;
    }
  }
}

.left-col {
  width: 180px;
  margin-top: 20px;
  margin-right: 12px;

  li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    border: 1px solid $light-grey;
    transition: .2s;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 4px;
    }

    a:hover {
      text-decoration: none;
    }

    &:hover {
      background: white;
      border: 1px solid $border-grey;
      border-radius: 2px;
    }

    &:active {
      background: $light-grey;
      border: 2px solid $border-grey;
      border-radius: 2px;
    }

    img {
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }

    i {
      color: $content-blue;
      width: 20px;
      font-size: 20px;
      text-align: center;
      margin-right: 5px;
    }

    .wide {
      font-size: 16px;
    }
  }

  .divider {
    margin-top: 30px;
    padding: 4px;
    pointer-events: none;
    border-bottom: 1px solid $content-blue;
    text-transform: uppercase;
    font-weight: bold;
    color: $placeholder-grey;
  }
}

.right-col {
  width: 308px;
  margin: 20px 0 0 20px;

  div, li {
    background: white;
    padding: 12px;
    border: 1px solid $border-grey;
    border-radius: 2px;
    margin-bottom: 12px;
  }

  .ads {
    color: $content-blue;
    font-weight: bold;

    a {
      cursor: pointer;

      img {
        margin-bottom: 10px;
      }
    }

    p:last-child {
      color: $placeholder-grey;
      font-weight: normal;
    }
  }
}
