.login-page {
  height: 100vh;
  background: $light-grey;
  display: flex;
  flex-direction: column;

  .main-content {
    min-height: 600px;
    width: 980px;
    flex: 1;
  }

  nav {
    padding: 13px 0 6px;
    margin-bottom: 20px;
    min-height: 62px;

    .nav-content {
      width: 980px;
    }

    h1 {
      color: white;
      position: relative;
      top: 10px;
      margin-right: 10px;
    }
  }
}


input {
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: $text-black;
}

section div {
  flex: 1;
  justify-content: center;
}

h1 {
  color: #333;
  margin-bottom: 7px;
}
h2 {
  color: #333;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 1px;
  margin-right: 8px;

  div {
    margin-left: 2px;
  }

  input {
    border-color: #1d2a5b;
    padding: 3px;
    width: 150px;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;

    label {
      margin-bottom: 3px;
    }

    :last-child {
      margin-right: 9px;
    }
  }

  button {
    position: relative;
    top: 4px;
    background-color: #4267b2;
    border: 1px solid #29487d;
    border-radius: 2px;
    flex: .33;
    padding: 3px;
  }

  button:hover {
    background-color: #365899;
    border-color: #29487d;
  }

}

.above-login {
  position: absolute;
  bottom: 40px;
  padding-left: 4px;
}

.signup-form {
  width: 399px;

  input {
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 10px;
    width: 100%;
  }

  button {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-radius: 5px;
    line-height: 126%;
    font-size: 19px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin: 10px 0;
    padding: 7px 20px;
    width: 194px;
    box-sizing: border-box;
  }

  button:hover {
    background: linear-gradient(#79bc64, #578843);
  }

  .name-errors {
    display: flex;
    width: 100%;

    :last-child {
      padding-left: 12px;
    }
  }

  .invalid {
    border-color: red;
  }

  .alignment {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 10px;

    .radio {
      display: flex;
      align-items: center;
      margin: 0 4px;
      padding: 5px 0 5px 4px;

      input {
        -webkit-appearance: radio;
        margin: 3px;
        box-sizing: border-box;
        width: 20px;
        height: 13px;
        padding: 0;
      }

      label {
        font-size: 18px;
        padding: 0 5px 0 3px;
      }
    }
  }
}


.input-names {
  display: flex;
  width: 399px;

  :first-child {
    margin-right: 11px;
  }

  input {
    width: 194px;
  }
}

.value-prop {
  margin-right: 16px;
  width: 565px;

  h1 {
    padding: 28px 0 24px;
    font-size: 28px;
    line-height: 36px;
    margin: 0.83em 0;
    width: 85%;
  }

  div {
    display: flex;
    margin-top: 20px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: left;

    .sub-header {
      font-size: 17px;
      font-weight: bold;
      line-height: 22px;
      color: #333;
    }

    :last-child {
      margin-left: 10px;
      font-size: 15px;
      color: #666;
      letter-spacing: -0.02em;
    }

    i {
      height: 50px;
      width: 50px;
      margin-right: 20px;
      color: #96a4bf;
    }
  }
}



footer {
  background: white;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-radius: 5px;
    line-height: 126%;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin: 10px 0;
    padding: 7px 10px;
    width: 194px;
    box-sizing: border-box;
  }

  button:hover {
    background: linear-gradient(#79bc64, #578843);
  }
}
