.nav-bar {
  min-height: 42px;
  background-color: $header-lblue;
  background-image: linear-gradient($header-dblue, $header-lblue 50%);
  border-bottom: 1px solid #133783;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 4;

	.nav-content {
    width: 1012px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  a:hover {
      text-decoration: none;
  }


  @media (max-width: 580px) {
    .right-nav {
      div.drop-downs {
        padding: 0 4px;
        margin: 0 4px;

        i {
          padding-right: 4px;
          padding-left: 4px;
        }
      }
    }
  }
}

.left-nav {
  display: flex;
  align-items: center;
  flex-grow: 2;

  .square-logo {
  font-size: 28px;
  margin-right: 4px;
  }
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  div {
    display: flex;
    align-items: center;

    a:hover, button:hover {
      background-color: #29487d;
    }
  }


}

.nav-links {
  display: flex;
  height: 27px;
  align-items: center;

  .profile-link a {
    border-right: 1px solid #29487d;
  }

  div {
    display: flex;
    align-items: center;

    .nav-a {
      padding: 8px 10px;
      border-radius: 2px;
      display: flex;

      &#profile-a {
        padding: 3px 8px 3px 3px;
      }

      img {
        border-radius: 2px;
        height: 24px;
        width: 24px;
        margin-right: 8px;
      }

      span {
        margin: auto;
      }
    }
  }
}

.drop-downs {
  padding: 0 10px;
  margin: 0 10px;
  position: relative;

  i {
    padding: 5px 10px 8px 5px;
    font-size: 21px;
    color: #152135;
    z-index: 5;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .white {
    color: white;

    &:hover {
      color: white;
    }
  }

  .drop-down {
    position: absolute;
    width: 430px;
    top: 36px;
    right: 0;
    padding: 5px 0;
    background: white;
    border: 1px solid $border-grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, '.SFNSTet-Regular', sans-serif;
    font-weight: bold;

    .drop-down-header {
      font-size: 12px;
      padding: 6px 12px;
      color: $text-black;
    }

    ul.request-list {
      position: relative;
      border-top: 1px solid $border-grey;
      padding: 5px 0;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      width: 100%;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $border-grey;
        width: 100%;
        padding: 6px 12px;
        box-sizing: border-box;

        a {
          color: $content-blue;
          font: inherit;

          &:hover {
            background: white;
            text-decoration: underline;
          }
        }

        img {
          height: 48px;
          width: 48px;
          margin-right: 8px;
        }

        button {
          height: auto;
          vertical-align: middle;
          width: auto;
          padding: 6px 8px;
          z-index: 5;
        }

        button:last-child {
          margin-left: 4px;

          &:hover {
            background: $light-grey;
          }
        }
      }
    }
  }
}

.no-items {
  color: $text-black;
}

.log-out button {
  padding: 8px 10px;
  border-left: 1px solid #29487d;
}

.search-bar {
  display: flex;
  height: 23px;
  flex: 2;
  max-width: 436px;
  position: relative;

  input {
    flex: 2;
    text-overflow: ellipsis;
    margin: 0;
    padding: 1px;
    text-indent: 3px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px 0 0 2px;
    color: $text-black;
    outline: none;
    font-size: 14px;
  }

  button {
    background: #f6f7f9;
    border-radius: 0 2px 2px 0;
    border-left: 0;
    width: 46px;
    padding: 0 16px;;
    box-sizing: border-box;
    color: #4b4f56;
    white-space: nowrap;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color,
                200ms cubic-bezier(.08,.52,.52,1) box-shadow,
                200ms cubic-bezier(.08,.52,.52,1) transform;

  }

  .search-results-box {
    position: absolute;
    top: 24px;
    right: 0;
    background: white;
    border: 1px solid $border-grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
  }

  .search-results {
    width: 100%;

    li {
      width: 100%;
      padding: 7px 8px;
      color: $text-black;
      font-size: 14px;

      a {
        display: flex;
        align-items: center;
      }

      img {
        height: 24px;
        width: 24px;
        margin-right: 8px;
      }

      &:hover {
        background: $light-grey;
      }
    }
  }

  .in-search {
    background: #4080ff;
    transform: scale(.98);
    box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
  }

  button:hover {
    background: $light-grey;
  }
}
