.profile-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-content {
    display: flex;
    margin-bottom: 0;
  }

  @media (max-width: 580px) {
    .profile-link {
      display: none;
    }
  }

  @media (max-width: 650px) {
    .info-column {
      width: 200px;
      margin-left: 0.3em;
    }

    div.profile-nav-bar {
      justify-content: flex-end;
    }

    ul.profile-nav-links {
      margin-right: 1em;
    }

    .friend-pic {
      height: 93px;
      width: 93px;
    }

    .feed {
      margin-right: 0.5em;
    }
  }

  @media (max-width: 505px) {
    .info-column {
      display: none;
    }

    .feed {
      margin-left: 0.5em;
    }


    .profile-nav-links > li {
      a {
        padding: 12px 5px;
      }
    }
  }
}

.profile-content {
  width: 850px;

  @media (max-width: 850px) {
    width: 100vw;
  }
}

.profile-header {
  width: 100%;
  height: 358px;
  position: relative;
}

.cover-photo-box {
  height: 315px;
  width: 850px;
  border: 1px solid black;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.profile-nav-bar {
  height: 43px;
  width: 100%;;
  background: white;
  border: 1px solid $border-grey;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: center
}

.profile-nav-links {
  display: flex;

  li {
    border-right: 1px solid $border-grey;
    display: flex;
    align-items: center;

    &:first-child {
      border-left: 1px solid $border-grey;
    }

    a {
      color: $content-blue;
      font-size: 14px;
      font-weight: bold;
      padding: 12px 17px;
      position: relative;
      vertical-align: middle;

      &:hover {
        text-decoration: none;
        background-color: $lighter-back-grey;
      }
    }

  }
}

.profile-picture-box {
  height: 160px;
  width: 160px;
  position: absolute;
  background-color: white;
  border: 1px solid $border-grey;
  border-radius: 2px;
  z-index: 1;
  overflow: hidden;
  bottom: 14px;
  left: 16px;

  img {
    box-sizing: border-box;
    border: 4px solid white;
    object-fit: cover;
  }
}

.username {
  position: absolute;
  bottom: 50px;
  left: 195px;
  z-index: 1;

  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }
}

.grey-button {
  background: $lighter-back-grey;
  border: 1px solid #ced0d4;
  border-radius: 2px;
  position: absolute;
  bottom: 50px;
  right: 16px;
  padding: 6px 8px;

  &:hover {
    background: $light-grey;
  }

  & > button {
    color: $dark-grey;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    vertical-align: middle;

    i {
      margin-right: 10px;
      height: 16px;
    }
  }
}

.response-button {
  position: relative;
}

.dropdown-frame {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.approve-deny-dropdown {
  padding: 8px 0 12px;
  background: white;
  border: 1px solid $border-grey;
  position: absolute;
  top: 13px;
  left: 17px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  font-size: 12px;
  text-align: left;

  li {
    padding: 4px 18px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    &:hover {
      color: white;
      background: $content-lblue;
      border-color: $content-blue;
    }
  }
}

.timeline {
  display: flex;
}

.info-column {
  display: flex;
  flex-direction: column;
  width: 321px;
  margin: 20px 15px 0 0;

  & > div {
    background: white;
    border: 1px solid $border-grey;
    border-radius: 3px;
    margin-bottom: 15px;
  }
}

.user-details li {
  margin: 8px 0;

  i {
    color: #a5a9b3;
    padding-right: 8px;
    width: 16px;
    text-align: center;
  }
}

.intro {
  padding: 15px;
}

.intro-header {
  margin-bottom: 10px;

  i {
    color: white;
    background: $content-blue;
    border: 5px solid $content-blue;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 8px;
  }

  span {
    font-size: 15px
  }

}

.friends {
  padding: 2px;

  a:hover {
    text-decoration: none;
  }
}

.friends-header {

  padding: 10px;

  i {
    color: white;
    background: #f50e6b;
    border: 5px solid #f50e6b;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 8px;
  }

  span {
    font-size: 15px
  }

  margin-bottom: 7px;
}

.friends-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.friend-pic {
  width: 101px;
  height: 101px;
  margin: 2px;
  position: relative;

  .text-shadow {
    background: linear-gradient(transparent, rbga(0, 0, 0, 0.7));
  }

  img {
    object-fit: cover;
  }

  span {
    color: white;
    position: absolute;
    padding: 5px;
    font-size: 12px;
    line-height: 16px;
    bottom: 0;
    left: 0;
    z-index: 1;
    word-wrap: break-word;
    text-shadow: -1px 1px 1px $dark-grey;
  }
}

.photos {
  padding: 2px;

  a:hover {
    text-decoration: none;
  }
}

.photos-header {

  padding: 10px;

  i {
    color: white;
    background: #a5d950;
    border: 5px solid #a5d950;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 8px;
  }

  span {
    font-size: 15px
  }

  margin-bottom: 7px;
}

.photo-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  li {
    text-align: center;
    padding: 0 0 5px 8px;
  }
}

.friends-page {
  border: 1px solid $border-grey;
  margin-top: 20px;

  .friends-page-header {
    padding: 12px;
    background: $lighter-back-grey;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;

    i {
      color: $placeholder-grey;
      margin-right: 12px;
    }

    h3 {
      color: $dark-grey;
      font-size: 20px;
      margin: 0;
    }
  }

  ul {
    background: white;
    border-top: 1px solid $border-grey;
    padding: 12px 12px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    li {
      border: 1px solid $light-grey;
      margin: 0 0 12px 12px;
      display: flex;
      align-items: center;
      width: calc(100% * 0.5 - 18px);

      img {
        height: 100px;
        width: 100px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: 12px;
      }

      a {
        color: $content-blue;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}

.photos-page {
  border: 1px solid $border-grey;
  margin-top: 20px;

  .photos-page-header {
    padding: 12px;
    background: $lighter-back-grey;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;

    i {
      color: $placeholder-grey;
      margin-right: 12px;
    }

    h3 {
      color: $dark-grey;
      font-size: 20px;
      margin: 0;
    }
  }

  ul {
    background: white;
    border-top: 1px solid $border-grey;
    padding: 12px 12px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    li {
      margin: 0 0 12px 12px;
      display: flex;
      align-items: center;
      width: calc(100% * 0.5 - 18px);

      img {
        height: 100px;
        width: 100px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: 12px;
      }

      a {
        color: $content-blue;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}
